<style>
  #servico_form_custom {
    display: grid;
    grid-auto-rows: max-content;
    grid-auto-flow: row;
    gap: 1rem;
    text-align: center;
    margin: 2rem var(--desktop-container-gutter);
  }

  #servico_form_custom > h1 {
    margin: 0;
    padding: 0;
    font-size: 2rem;
    font-weight: 900 !important;
    text-transform: uppercase;
  }

  #servico_form_custom > form {
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    display: grid;
    grid-auto-rows: max-content;
    grid-auto-flow: row;
    gap: 1rem;
  }

  #servico_form_custom > form > div {
    display: grid;
    grid-template-rows: repeat(2, max-content);
    gap: 0.5rem;
  }

  #servico_form_custom > .contact_div_container {
    grid-template-columns: repeat(2, max-content) !important;
    grid-template-rows: max-content !important;
    gap: 4rem;
  }

  #servico_form_custom > form > div > input,
  #servico_form_custom > form > div > textarea {
    background-color: #D7FECD33;
    border: 1px solid #258439;
    border-radius: 0.5rem;
    padding: 0.5rem;
    resize: none;
  }

  #servico_form_custom > form > div > div {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    gap: 0.25rem;
    align-items: center;
  }

  #servico_form_custom > form > div > label {
    padding: 0;
    margin: 0;
    fo
  }

  #servico_form_custom > form > div > div > label,
  #servico_form_custom > form > div > label {
    padding: 0;
    margin: 0;
    font-size: 1rem;
    text-align: left;
    color: #258439;
  }

  @media screen and (min-width: 1499px) {
    #servico_form_custom {
      margin: 2rem 9vw;
    }
  }

  @media screen and (min-width: 2559px) {
    #servico_form_custom {
      margin: 2rem 18vw;
    }
  }
</style>

<section id="servico_form_custom">
  {% unless section.settings.title == blank %}
    <h1>{{ section.settings.title }}</h1>
  {% endunless %}

  {% form 'contact' %}
    <div class="name">
      <label for="name">Nome</label>
      <input type="text" name="contact[first_name]" id="name" placeholder="Jane Doe" />
    </div>
  
    <div>
      <label for="phone">Contacto</label>
      <input type="tel" name="contact[phone]" id="phone" placeholder="962345678" />
    </div>
  
    <div>
      <label for="email">E-mail</label>
      <input type="email" name="contact[email]" id="email" placeholder="janedoe@janedoe.pt" />
    </div>

    <div class="contact_div_container">
      <div>
        <input id="consulta_presencial" type="checkbox" name="contact[consulta_presencial]" value="presencial" />
        <label for="consulta_presencial">Consulta presencial<br>40€</label>
      </div>

      <div>
        <input id="consulta_online" type="checkbox" name="contact[consulta_online]" value="online" />
        <label for="consulta_online">Consulta online<br>40€</label>
      </div>
    </div>
  
    <div>
      <label for="message">Motivo da consulta</label>
      <textarea name="contact[body]" id="message" placeholder="lorem ipsum"></textarea>
    </div>

    <button type="submit">
      Enviar
    </button>
  {% endform %}
</section>

{% schema %}
  {
    "name": "Servico Nutricao Form",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Título"
      }
    ],
    "presets": [
      {
        "name": "Servico Nutricao Form",
        "category": "form"
      }
    ]
  }
{% endschema %}