{% assign path_block = section.blocks | where: 'type', 'path' %}

<style>
  .servico-know__path-list-mobile,
  .servico_slides_container {
    display: none;  
  }

  .servico-know__path-list-mobile {
    margin: 4rem var(--mobile-container-gutter);
  }
  
  .servico-know {
    position: relative;
    height: 1310px;
    margin-bottom: 4rem;
  }

  .servico-know__container {
    position: relative;
    height: 100%;
    margin: 0 var(--desktop-container-gutter);
  }

  @media screen and (min-width: 1499px) {
    .servico-know__container {
      margin: 0 9vw;
    }
  }

  @media screen and (min-width: 2559px) {
    .servico-know__container {
      margin: 0 18vw;
    }
  }

  .servico-know__content {
    position: absolute;
    z-index: 1;
    display: grid;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    grid-auto-rows: max-content;
    grid-auto-flow: row;
    gap: 1rem;
    padding: 1.5rem 12rem 1.5rem 1.5rem;
    border-radius: 1rem;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    max-width: 50%;
  }

  .servico-know__title h1 {
    padding: 0;
    margin: 0;
    font-size: 2rem;
    font-weight: 900 !important;
  }

  .servico-know__description p,
  .servico-know__path-item p {
    padding: 0;
    margin: 0;
    font-size: 1rem;
    font-weight: 500 !important;
  }

  .servico-know__path-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    bottom: -2rem;
    list-style-type: none;
    position: absolute;
    left: 0;
    right: 0;
  }

  .servico-know__item-title {
    padding: 0;
    margin: 0;
    font-size: 1.25rem;
  }

  .servico-know__path-item {
    display: grid;
    grid-auto-rows: max-content;
    grid-auto-flow: row;
    align-items: center;
    text-align: center;
    padding: 1.5rem;
    background-color: #258439;
    border-radius: 1rem;
    justify-items: center;
    color: white;
  }

  .servico-know__path-item:nth-child(even) {
    transform: translateY(-25px);
    height: max-content;
  }

  .servico-know__path-item img {
    margin-bottom: 2rem;
    object-fit: contain;
  }

  .servico-know__path-item.active {
    display: grid;
    gap: 1rem;
  }

  #servico_slides_container {
    display: grid;
    grid-auto-columns: max-content;
    grid-auto-flow: column;
    gap: 1rem;
    list-style-type: none;
    justify-content: center;
  }

  .servico-know__path-item.inactive {
    display: none;
  }

  @media screen and (max-width: 1599px) and (min-width: 1000px) {
    .servico-know {
      height: 1000px;
    }

    .servico-know__content {
      top: 35%;
    }
  
    .servico-know__title h1 {
      font-size: 1.5rem;
    }
  
    .servico-know__description p,
    .servico-know__path-item p {
      font-size: 0.875rem;
    }
  
    .servico-know__item-title {
      font-size: 1rem;
    }

    .servico-know__path-item img {
      width: 55px;
      height: 55px;
    }
  }

  .slide_point {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: black;
    transition: all 0.3s ease;
    cursor: pointer; 
  }

  .slide_point.active {
    border-radius: 0.25rem;
    width: 30px;
  }

  @media screen and (max-width: 1000px) {
    .servico-know__path-item img {
      margin-bottom: 0;  
    }
    
    .servico-know__path-list {
      display: none;
    }

    .servico-know__path-list-mobile,
    .servico_slides_container {
      display: grid;
    }

    .servico-know {
      height: 250px;
    }

    .servico-know__title h1 {
      font-size: 1.25rem;
    }
  
    .servico-know__description p,
    .servico-know__path-item p {
      font-size: 1rem;
    }

    .servico-know__content {
      padding: 1rem;
      top: 40%;
      left: unset;
      right: 0;
      transform: unset;
    }
  }
</style>

<section
  id="servico_know_custom"
  class="servico-know lazy-bg"
  data-bg="{{ section.settings.bg_img | image_url: width: '1923', height: '1310' }}"
  style="background-size: cover; background-position: center;"
>
  <div class="servico-know__container">
    {% unless section.settings.title == blank %}
      <div class="servico-know__content">
        <div class="servico-know__title">
          {{ section.settings.title }}
        </div>
  
        {% if section.settings.description != blank %}
          <div class="servico-know__description">
            {{ section.settings.description }}
          </div>
        {% endif %}
      </div>
    {% endunless %}

    {% render 'path-list', class_name: 'servico-know__path-list', path_block: path_block  %}
  </div>

  {% render 'path-list', class_name: 'servico-know__path-list-mobile', path_block: path_block, is_mobile: true  %}
</section>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    const section = document.getElementById("servico_know_custom");
    const parent = section.parentElement;
    const container = document.querySelector(".servico-know__path-list-mobile");
    const elements = container.querySelectorAll("li");
    const div = document.createElement("div");
    
    div.style.height = container.clientHeight + "px";
    parent.insertAdjacentElement("afterend", div);

    let touchStartX = 0;
    let touchEndX = 0;
  
    function changeReview(dir) {
      const activeBullet = document.querySelector('.slide_point.active');
      let idx = parseInt(activeBullet.getAttribute('data-index'), 10);
      const total = elements.length;
      idx = ((idx - 1 + dir + total) % total) + 1;
      elements[idx - 1].click();
    }
  
    function handleSwipe() {
      const threshold = 50;
      
      if (touchEndX < touchStartX - threshold) {
        changeReview(1);
      } else if (touchEndX > touchStartX + threshold) {
        changeReview(-1);
      }
    }
  
    function onStart(e) {
      if (e.changedTouches) {
        touchStartX = e.changedTouches[0].screenX;
      } else {
        touchStartX = e.clientX;
      }
    }
  
    function onEnd(e) {
      if (e.changedTouches) {
        touchEndX = e.changedTouches[0].screenX;
      } else {
        touchEndX = e.clientX;
      }
  
      handleSwipe();
    }
  
    container.addEventListener('touchstart', onStart, false);
    container.addEventListener('touchend',   onEnd,   false);
  
    container.addEventListener('pointerdown', onStart, false);
    container.addEventListener('pointerup',   onEnd,   false);
  
    elements.forEach((bp) => {
      bp.addEventListener('click', () => {
        const activeBp = document.querySelector('.slide_point.active');
        const currentIdx = activeBp.getAttribute('data-index');
        const clickedIdx = bp.getAttribute('data-index');
  
        if (currentIdx !== clickedIdx) {
          const activeRw = document.querySelector('.servico-know__path-item.active');
          const rw = document.querySelector(`.servico-know__path-item[data-index="${clickedIdx}"]`);
  
          activeRw.classList.replace('active', 'inactive');
          rw.classList.replace('inactive', 'active');
  
          activeBp.classList.remove('active');
          bp.classList.add('active');
        }
      });
    });
  });
</script>

{% schema %}
{
  "name": "Servico Nutricao Know",
  "settings": [
    {
      "type": "image_picker",
      "id": "bg_img",
      "label": "Imagem de Fundo"
    },
    {
      "type": "richtext",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "Descrição"
    }
  ],
  "blocks": [
    {
      "type": "path",
      "name": "Percurso",
      "limit": 3,
      "settings": [
        {
          "type": "image_picker",
          "id": "icon",
          "label": "Ícone"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Título"
        },
        {
          "type": "richtext",
          "id": "description",
          "label": "Descrição"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Servico Nutricao Know",
      "category": "custom"
    }
  ]
}
{% endschema %}