#modal_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1002;
  display: none;
}

#modal_cruz_vermelha {
  background-color: white;
  border-radius: 1rem;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
  visibility: hidden;
  transition: opacity 0.15s ease;
  overflow: auto;
  max-width: 90vw;
  width: auto;
  z-index: 2000;
}

#modal_cruz_vermelha > #modal_form_cruz {
  display: grid;
  grid-auto-columns: max-content;
  grid-auto-flow: column;
  gap: 1.5rem;
  padding: 2rem 6rem 2rem 2rem;
}

#modal_cruz_vermelha > #escape_cruz_modal {
  position: absolute;
  top: 1.25rem;
  right: 1.25rem;
  width: 1.25rem;
  height: 1.25rem;
  cursor: pointer;
  transition: opacity 0.15s ease;
}

#modal_cruz_vermelha > #escape_cruz_modal:hover {
  opacity: 0.6;
}

#modal_cruz_vermelha > #modal_form_cruz > div {
  display: grid;
  grid-auto-rows: max-content;
  gap: 1rem;
  grid-auto-flow: row;
  width: 100%;
  max-width: min-content;
}

#modal_cruz_vermelha > #modal_form_cruz > div > span {
  color: #258439;
  font-size: 1rem;
  font-weight: 500;
  line-height: normal;
}

.cruz_title {
  display: block;
  width: 100%;
  color: black !important;
  font-size: 1.1rem !important;
  font-weight: 600 !important;
  white-space: normal !important;
  overflow-wrap: break-word !important;
  word-wrap: break-word !important;
  word-break: break-word !important;
}

#modal_cruz_vermelha > #modal_form_cruz > div > form {
  display: grid;
  grid-auto-rows: max-content;
  grid-auto-flow: row;
  gap: 0.35rem;
}

#modal_cruz_vermelha > #modal_form_cruz > div > form > label {
  color: #258439;
  font-size: 1.1rem;
  font-weight: bold;
  width: max-content;
  line-height: normal;
}

#modal_cruz_vermelha > #modal_form_cruz > div > form > div {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  gap: 0.75rem;
}

#modal_cruz_vermelha > #modal_form_cruz > div > form > div > input {
  border: 2px solid #258439;
  border-radius: 0.5rem;
  padding: 0.6rem 1rem;
  background-color: #fffade33;
  width: 16rem;
}

#modal_cruz_vermelha > #modal_form_cruz > div > form > div > button {
  font-size: 1rem;
  font-weight: bold;
  color: white;
  height: 100%;
  background-color: #258439;
  padding: 0.6rem 2.7rem;
  border: none;
  border-radius: 0.5rem;
  width: max-content;
  transition: background-color 0.15s ease;
  text-transform: uppercase;
}

#modal_cruz_vermelha > #modal_form_cruz > div > form > div > button:hover {
  background-color: #ffbb12;
  color: black;
}

#modal_cruz_vermelha > #modal_form_cruz > div > form > span {
  max-width: max-content;
  text-align: justify;
  white-space: normal;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  color: #258439;
  font-size: 0.925rem;
  font-weight: 500;
  line-height: normal;
}

#modal_successful_cruz {
  display: none;
  grid-template-rows: repeat(2, max-content);
  justify-items: center;
  align-content: center;
  gap: 1rem;
  padding: 2rem;
  min-width: 25dvw;
  min-height: 25dvh;
}

#modal_successful_cruz > span {
  max-width: max-content;
  text-align: center;
  color: #258439;
  white-space: normal;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  font-size: 1rem;
  font-weight: 600;
  line-height: normal;
}

@media screen and (max-width: 1599px) and (min-width: 1000px) {
  #modal_cruz_vermelha > #modal_form_cruz {
    padding: 1.5rem 5rem 1.5rem 1.5rem;
  }

  #modal_cruz_vermelha > #modal_form_cruz > div > span {
    font-size: 0.9rem;
  }

  .cruz_title {
    font-size: 1rem !important;
  }

  #modal_cruz_vermelha > #modal_form_cruz > div > form > label {
    font-size: 1rem;
  }

  #modal_cruz_vermelha > #modal_form_cruz > div > form > div > button {
    font-size: 0.9rem;
    padding: 0.6rem 2rem;
  }

  #modal_cruz_vermelha > #modal_form_cruz > div > form > span {
    font-size: 0.875rem;
  }

  #modal_successful_cruz > span {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 1000px) {
  #modal_cruz_vermelha > #modal_form_cruz > div > form > div {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: 1fr;
    gap: 0.75rem;
  }

  #modal_cruz_vermelha > #modal_form_cruz > div {
    max-width: 50dvw;
  }

  #modal_cruz_vermelha > #escape_cruz_modal {
    top: 1rem;
    right: 1rem;
    width: 1rem;
    height: 1rem;
    cursor: pointer;
  }

  #modal_cruz_vermelha > #modal_form_cruz {
    padding: 2.5rem 5rem 1.5rem 1.5rem;
  }

  #modal_cruz_vermelha > #modal_form_cruz > div > span {
    font-size: 0.9rem;
  }

  .cruz_title {
    font-size: 1rem !important;
  }

  #modal_cruz_vermelha > #modal_form_cruz > div > form > label {
    font-size: 1rem;
  }

  #modal_cruz_vermelha > #modal_form_cruz > div > form > div > input {
    font-size: 0.9rem;
    width: 100%;
  }

  #modal_cruz_vermelha > #modal_form_cruz > div > form > div > button {
    font-size: 0.9rem;
    padding: 0.6rem 1.6rem;
    width: 100%;
  }

  #modal_cruz_vermelha > #modal_form_cruz > div > form > span {
    font-size: 0.875rem;
  }

  #modal_successful_cruz > img {
    width: 30px;
    height: 30px;
  }

  #modal_successful_cruz > span {
    font-size: 0.875rem;
  }
}

@media screen and (max-width: 369px) {
  #modal_form_cruz > svg {
    width: 24px;
    height: 24px;
  }
}
