{% layout none %}
{% assign rita_posts = section.settings['selected-blog'].articles | where: 'author', 'Tiago Silva' %}
{% paginate rita_posts by 4 %}
  <ul id="blogPostsList">
    {% for article in rita_posts %}
      <li>
        <a href="{{ article.url }}">
          <div style="background-image: url({{ article.image | img_url: 'master' }})"></div>
          <h4>{{ article.title }}</h4>
        </a>
      </li>
    {% endfor %}
  </ul>
{% endpaginate %}
