{% layout none %}
{% assign rita_posts = blogs[blog.handle].articles | where: 'author', 'Rita Silva' %}
{% assign start_index = (current_page | minus: 1) | times: 4 %}
{% assign end_index = start_index | plus: 3 | at_most: rita_posts.size | minus: 1) %}

<ul id="blogPostsList">
  {% for article in rita_posts limit: 4 offset: start_index %}
    {% assign post_tag = "" %}
    {% for tag in article.tags %}
      {% unless tag contains 'author' or tag contains 'dificuldade' or tag contains 'doses' or tag contains 'duracao' %}
        {% assign post_tag = tag %}
        {% break %}
      {% endunless %}
    {% endfor %}

    <li>
      <a href="{{ article.url }}">
        <div style="background: url({{ article.image | img_url: '500x' }}) center/cover; min-height:240px"></div>
        <h4>{{ article.title }}</h4>
        {% if post_tag != "" %}<span>{{ post_tag }}</span>{% endif %}
      </a>
    </li>
  {% endfor %}
</ul>